<template name="MedicalProfile">
  <div class="ui form">
    <div class="three wide field">
      <label>Translate to:</label>
      <select class="ui search dropdown" id="language-select">
        <option value="">Select Country</option>
        <option value="ar">Arab</option>
        <option value="zh-CHT">Chinese</option>
        <option value="de">German</option>
        <option value="ru">Russian</option>
        <option selected="selected" value="es">Spanish</option>
      </select>
      </div>
    </div>

  {{> MedicalCategory category="Current Diseases"}}
  {{> MedicalCategory category="Past Diseases"}}
  {{> MedicalCategory category="Allergies"}}

</template>


<template name="MedicalCategory">
<h3>{{category}}</h3>
  <form class="ui form new-item" >
    <div class="inline fields">
      <input type="text" name="text" placeholder="Type to add {{category}}" />
      <button class="ui button green" type="submit">Add</button>
    </div>
    <input type="hidden" name="category" value="{{category}}">
  </form>

  <div class="ui relaxed divided list">
    {{#each historyItems}}
      {{> historyItem}}
    {{/each}}
  </div>

</template>


<template name="historyItem">
  {{#if belongsTo}}

    <div class="item">
        {{translate}}
        <button class="circular ui icon right floated button red mini delete">
          <i class="trash icon"></i>
          </button>
        <div class="content">
          <div class="header">{{text}}</div>
          <div class="description">{{translation}}</div>

        </div>
    </div>
    {{/if}}
</template>