<template name="AppBody">
  <div class="ui container segment">
    {{> Template.dynamic template=top}}
    {{> Template.dynamic template=main}}
  </div>
</template>


<template name="header">
  <h1><a id="home">DOCYET</a></h1>
  {{> loginButtons}}

</template>


<template name="menu">
  <div class="container">
    <div class="ui centered list">
      <div class="item"><button class="ui button" id="medical-profile">Medical History</button></div>
      <div class="item"><button class="ui button" id="hospital-finder">Find Hospital</button></div>
      <div class="item"><button class="ui button" id="medical-phrasebook">Medical Phrasebook</button></div>
      <div class="item"><button class="ui button" id="medical-phrasebook">Find Insurance</button></div>
    </div>

  </div>
</template>

